@media all {
a{
	outline:none;
	text-decoration:none;
}
@font-face {
    font-family: MyriadPro-Regular;
    src: url(MyriadPro-Regular.otf);
}
@font-face {
    font-family: SQR721KN;
    src: url(SQR721KN.TTF);
}
.wrapper{
	float:left;
	width:100%;
	height:auto;
}
.width1220{
	max-width:1220px;
	margin:0px auto;
}
.width100{
	float:left;
	width:100%;
	height:auto;
}
.header{
	float:left;
	width:100%;
	height:auto;
}
.logo{
	float:left;
	width:auto;
	height:auto;
	padding-top:36px;
}
.m_logo{
	display:none;
}
.top_right{
	float:right;
	width:65%;
	height:auto;
}
.online_store{
	float:left;
	width:100%;
	height:auto;
	text-align:right;
	padding:34px 0 10px 0;
}
.top_menu{
	float:left;
	width:100%;
	height:auto;
	text-align:right;
	padding-bottom:10px;
}
.top_menu a{
    color: #a7a7a7;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 0 20px;
    text-decoration: none;
}
.top_menu a:hover{
	color:#08bbfd;
}
.main_menu{
	background-color:#0866e4;
	float:left;
	width:100%;
	height:auto;
	min-height:64px;
}
.main_menu ul{
	float:left;
	width:100%;
	height:auto;
	padding:0px;
	margin:0px;
}
nav{
	width:80%;
	float:left;
}
.main_menu ul li{
	float:left;
	width:auto;
	height:auto;
	padding:0px;
	margin:0px;
	display:block !important;
	list-style-type:none;
}
.main_menu ul li:hover{
	background-color:#08bbfd;
}
.main_menu ul li a{
	float:left;
	width:auto;
	height:auto;
	padding:0px;
	margin:0px;
	font-family:MyriadPro-Regular;
	font-size:17px;
	color:#ffffff;
	font-weight:bold;
	padding:21px 21px 20px 21px;
	text-transform:uppercase;
	text-decoration:none;
}
.main_menu ul li a:hover{
	background-color:#08bbfd;
}
.search{
	float:right;
	width:auto;
	height:auto;
}
.banner{
	background-color:#08bbfd;
	float:left;
	width:100%;
	height:auto;
}
.middle_content{
	float:left;
	width:100%;
	height:auto;
	padding:40px 0px;
}
.blog_box{
	float:left;
	width:100%;
	height:auto;
	padding-bottom:40px;
}
.blog_list{
	float:left;
	width:50%;
	height:auto;
	background-color:#f0f0f0;
}
.blog_list_img{
	float:left;
	width:50%;
	height:auto;
}
.blog_list_content{
    color: #262320;
    float: left;
    font-family: myriadpro-regular;
    font-size: 30px;
    height: auto;
    line-height: 40px;
    padding-top: 100px;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
}
.blog_list_content span{
	color:#1f69e5; 
	font-size:20px;
}
.heading18{
	float:left;
	width:100%;
	text-align:center;
	font-family: myriadpro-regular;
	font-size:18px;
	color:#000000;
	text-transform:uppercase;
	padding-bottom:35px;
}
.product_list{
	float:left;
	width:240px;
	height:auto;
	border:2px solid #fff;
	transition-duration:0.5s;
}
.product_list:hover{
	border:2px solid #08bbfd;
}
.pro_img{
	float:left;
	width:100%;
	text-align:center;
	height:auto;
}
.pro_heading{
	float:left;
	width:100%;
	text-align:center;
	font-family: myriadpro-regular;
	font-size:15px;
	color:#393838;
	text-transform:uppercase;
	padding:20px 0;
}
.pro_price{
	float:left;
	width:100%;
	text-align:center;
	font-family: myriadpro-regular;
	font-size:21px;
	color:#0866e4;
	text-transform:uppercase;
	padding-bottom:10px;
}
.footer{
	background-color:#e5e5e5;
	float:left;
	width:100%;
	height:auto;
	padding:30px 0px;
}
.footer_list{
	float:left;
	width:15%;
	height:auto;
}
.footer_heading{
	float:left;
	width:100%;
	font-family: myriadpro-regular;
	font-size:18px;
	color:#777777;
	text-transform:uppercase;
	padding-bottom:15px;
}
.footer_list ul{
	float:left;
	width:100%;
	height:auto;
	padding:0px;
	margin:0px;
}
.footer_list ul li{
	float:left;
	width:100%;
	height:auto;
	padding:0px;
	margin:0px;
	list-style-type:none;
}
.footer_list ul li a{
	float:left;
	width:100%;
	height:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#777777;
	font-weight:normal;
	text-decoration:none;
	padding-bottom:5px;
}
.footer_list ul li a:hover{
	color:#0866e4;
}
.copyright{
	float:right;
	width:auto;
	font-family: myriadpro-regular;
	font-size:14px;
	color:#777777;
	font-weight:bold;
	text-transform:uppercase;
}
.search input[type="text"]{
    background-color: #0f72f6;
    border: 0 none;
    color: #d0e4ff;
    float: left;
    font-family: myriadpro-regular;
    font-size: 16px;
    padding: 21px 20px;
	display:none;
}
.search:hover input[type="text"]{
	display:block;
}
.search input[type="text"]:focus{
	display:block;
}
.search_icon{
    background-color: #0866e4;
    background-image: url(css_only_human_userside_imgs/search_icon.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    border: 0 none;
    cursor: pointer;
    float: left;
    font-size: 0;
    height: auto;
    padding: 31px 0;
    width: 33px;
}
.mCustomScrollBox{
	height:350px !important;
}
.inner_heading{
    background-color: #08bbfd;
    color: #ffffff;
    float: left;
    font-family: SQR721KN;
    font-size: 91px;
    height: auto;
    padding: 7px 0;
    text-transform: uppercase;
    width: 100%;
}
.breadcrumb_box{
	float:left;
	width:100%;
	height:auto;
	padding:10px 0px;
	border-bottom:1px solid #d9d9d9;
	margin-top:10px;
}
.text12_black{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000000;
	font-weight:normal;
	text-decoration:none;
}
.inner_banner{
	float:left;
	width:100%;
	height:auto;
	text-align:center;
}
.left_col{
	float:left;
	width:67%;
	height:auto;
}
.right_col{
	float:right;
	width:30%;
	height:auto;
}
.contact_box{
	float:left;
	width:97%;
	height:auto;
	border:1px solid #ececec;
	padding:10px;
}
.contact_heading{
	float:left;
	width:100%;
	height:auto;
	padding:10px 0px;
	border-bottom:1px solid #ececec;
	margin-bottom:15px;
	text-transform:uppercase;
	font-family: MyriadPro-Regular;
	font-size:17px;
} 
.input_box{
	float:left;
	width:32%;
	height:auto;
	padding:0 10px 15px 0;
}
.input_box input[type="text"]{
    border: 1px solid #cccccc;
    color: #000;
    float: left;
    font-family: arial;
    font-size: 12px;
    height: auto;
    padding:7px 0;
    text-indent: 10px;
    width: 100%;
}
.input_box2{
	float:left;
	width:99%;
	height:auto;
	padding:0 0px 15px 0;
}
.input_box2 textarea{
    border: 1px solid #cccccc;
    color: #000;
    float: left;
    font-family: arial;
    font-size: 12px;
    height: auto;
    padding:7px 0;
    text-indent: 10px;
    width: 100%;
}
.button{
    background-color: #fff;
    border: 1px solid #aaaaaa;
    color: #333333;
    cursor: pointer;
    float: left;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    padding: 5px 20px;
    text-transform: uppercase;
    width: auto;
	transition-duration:0.3s;
}
.button:hover{
	background-color:#08bbfd;
	border:1px solid #00a9e7;
	color:#ffffff;
}
.contact_list{
	float:left;
	width:100%;
	height:auto;
	padding-bottom:20px;
}
.contact_icon{
	float:left;
	width:30px;
	height:auto;
}
.contact_text{
    float: left;
    font-family: arial;
    font-size: 14px;
    height: auto;
    width: 80%;
	color:#444444;
}
.refine_box{
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0 0 0 9px #fff;
    float: left;
    height: auto;
    margin: 9px 0 0;
    min-height: 320px;
    padding: 0;
    width: 23%;
}
.refine_heading{
    background-image: url(css_only_human_userside_imgs/refine_icon.jpg);
    background-position:18px 16px;
    background-repeat: no-repeat;
    border-bottom: 1px solid #dedede;
    color: #f08c00;
    float: left;
    font-family: myriadpro-regular;
    font-size: 20px;
    font-weight: bold;
    height: auto;
    line-height: normal;
    padding: 14px 0 8px;
    text-indent: 40px;
    width: 100%;
	margin-bottom:10px;
}
.refine_box a{
    border-bottom: 1px solid #eaeaea;
    color: #4b4b4b;
    float: left;
    font-family: myriadpro-regular;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 0;
    text-decoration: none;
    text-indent: 40px;
    width: 100%;
	transition-duration:0.5s;
	text-transform:uppercase;
}
.refine_box a:hover{
    color: #fff;
    background-color: #f08c00;
}
.inner_banner2{
	float:right;
	width:76%;
	height:auto;
}
.inner_banner2 img{
	max-width:100%;
}
.sort_box{
	float:right;
	width:auto;
	height:auto
}
.sort_box select{
    background-color: #e1e1e1;
    border: 1px solid #898989;
    font-family: arial;
    font-size: 14px;
    padding: 5px;
    width: 170px;
}
.add_cart_btm{
    background-color: #0866e4;
    color: #fff;
    cursor: pointer;
    font-family: myriadpro-regular;
    font-size: 12px;
    font-weight: bold;
    line-height: normal;
    padding: 10px 20px 7px;
    text-decoration: none;
	transition-duration:0.3s;
}
.add_cart_btm:hover{
	background-color:#08bbfd;
	color:#ffffff;
}
.product_box .product_list{
	margin-bottom: 40px;
}
.cart_box{
	float:right;
	width:auto;
	height:auto;
}
.cart_box a{
	background-image:url(css_only_human_userside_imgs/cart_img.jpg);
	background-repeat:no-repeat;
	float:right;
	height: 47px;
    width: 91px;
}
.cart_box a span{
    color: #fff;
    float: right;
    font-size: 15px;
    padding: 8px 14px;
}
.cart_welcome_text{
    color: #08bbfd;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: normal;
    height: auto;
    padding: 10px 10px 0 0;
    width: auto;
}
.main_subcategory{
	background-color:#0866e4;
    display: none;
    float: left;
    margin: 64px 0 0;
    position: absolute;
    z-index: 99;
	width:15%;
}
.main_subcategory .megapanels{
	float:left;
	width:100%;
	clear:both;
}
.megapanels .row{
	padding:0px;
	margin:0px;
}
.megapanels .grid{
	padding:0px;
	margin:0px !important;
	width:100%;
}
.megapanels .color1{
    border-bottom: 1px dotted #08bbfd;
    font-size: 14px;
    padding: 10px 16px;
    width: 100%;
}
.main_subcategory .megapanels .megapanels{
    background-color: rgba(1, 70, 164, 0.4);
    padding-left: 15px;
}
.main_subcategory li{
	background:none !important;
}
.main_menu .showhide{
	display:none !important	;
}
.flexslider .slides > li{
	background-size:contain !important;
	background-position:right top;
}

.slider_box {
    float: left;
    height: auto;
    padding: 0;
    position: relative;
    width: 50%;
    z-index: 500;
}
.slides{
	padding:0px;
	margin:0px;
}
.slider_box .slider_heading1{
    color: #fff;
    font-family: SQR721KN;
    font-size: 90px;
    padding-top: 100px;
    text-transform: uppercase;
}
.slider_box .slider_heading2{
    border-bottom: 5px solid #0866e4;
    color: #fff;
    float: left;
    font-family: SQR721KN;
    font-size: 45px;
    text-transform: uppercase;
    width: auto;
}
.slider_box .slider_content{
    clear: both;
    color: #fff;
    font-family: SQR721KN;
    font-size: 20px;
    padding-top: 20px;
    text-transform: uppercase;
}
.flex-direction-nav{
	display:none;
}
hr{
	padding:0px !important;
	margin:0px !important;
}
.left_heading {
    background-color: #d4f3ff;
    color: #333333;
    float: left;
    font-family: myriadpro-regular;
    font-size: 15px;
    font-weight: bold;
    padding: 7px 0;
    text-align: left;
    text-indent: 24px;
    text-transform: uppercase;
    width: 100%;
}
.filter_box{
	float:left;
	padding:0 0 20px 0;
	width:100%;
}
.filter_box .filter_list{
	padding:0 0 0 24px;
}
.filter_box .filter_list:hover{
	background-color:#f2f2f2;
}
.simpleCart_shelfItem h5 a{
    color: #0866e4;
    font-family: myriadpro-regular;
    font-size: 16px;
}
.simpleCart_shelfItem h6{
    color: #555;
    font-family: myriadpro-regular;
    font-size: 13px;
}
.product_box{
	float:left;
	border:5px solid #f7f6f6;
	text-align:center;
	padding:0 0 10px 0;
	margin:10px 0 0 0;
}
.product_cart_box{
    margin: 0 auto;
    width: 50%;
}
.product_cart_box .size_2-right{
	margin:0px;
}
.product_cart_box .item_add{
	margin:0px;
}
.product_cart_box .item_quantity{
    background-color: #fff;
    border: 1px solid #0866e4;
    color: #0866e4;
    font-family: arial;
    font-size: 18px;
    padding: 3px 0;
    text-align: center;
}
.product_box .view{
	min-height:300px;
}
}

@media screen and (max-width: 950px) {
.logo{
	width:100%;
	text-align:center;
	padding-top:20px;
}
.top_right{
	width:100%;
}
.online_store {
    padding: 10px 0;
    text-align: center;
}
.top_menu{
	text-align:center;
}
.logo img{
	max-width:100%;
}
.banner img{
	max-width:100%;
}
.online_store img{
	max-width:100%;
}
.blog_list_img img{
	max-width:100%;
}
.blog_list_content{
	padding-top:50px;
	line-height:normal;
	font-size:20px;
}
.blog_list_content span{
	font-size:14px;
}
.product_list{
	width:33%;
}
.footer_list{
	width:20%;
	padding:0 0 20px 20px;
}
.copyright{
    border-top: 2px solid #d2d2d2;
    padding-top: 12px;
    text-align: center;
    width: 100%;
}
.search{
	width:100%;
	margin-bottom:10px;
}
.search input[type="text"]{
    margin-left: 20px;
    width: 70%;
}
-webkit-scrollbar-thumb{
background-color:#B03C3F;
border-radius:10px;
}



.mCustomScrollBox{
	overflow:inherit !important;
	height:auto !important;
}
.mCSB_horizontal .mCSB_container {
    overflow: inherit !important;
    width: auto !important;
}

.inner_heading{
	font-size:70px;
	text-align:center;
}
.left_col{
	width:100%;
	margin-bottom:20px;
}
.contact_box{
	width:95%;
}
.right_col{
	width:100%;
}
.refine_box{
    border: 0 none;
    box-shadow: none;
    width: 100%;
	border-bottom:4px solid #cccccc;
}
nav{
	width:100%;
	margin-bottom:10px;
}
.main_menu ul li a{
	padding:21px 30px 20px;
}
.inner_banner2{
	width:100%;
}
.search input[type="text"]{
	display:block;
}

}

@media screen and (max-width: 600px) {
.top_menu{
	background-color:#f4f4f4;
}
.top_menu a{
    border-bottom: 1px solid #ccc;
    float: left;
    margin: 0 20px 0 0;
    padding:5px 0 5px 20px;
    text-align: left;
    width: 37%;
}
.main_menu ul li{
	width:100%;
}
.main_menu ul li a{
    font-size: 14px;
    padding: 10px;
    width: 100%;
}
.main_menu ul{
	width:100%;
}
.blog_list{
	width:100%;
	margin-bottom:5px;
}
.blog_list_content{
	font-size:30px;
	padding-top:30px;
}
.product_list{
	width:44%;
}
.footer_list{
	width:40%;
}
.inner_heading{
	font-size:40px;
}
.contact_box{
	width:90%;
}
.input_box{
	width:100%;
}
.sort_box{
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
.logo{
	display:none;
}
.m_logo{
	width:100%;
	text-align:center;
	padding-top:20px;
	display:block;
}
nav ul li a{
	text-indent:15px;
}
.main_subcategory{
    background-color: #0053c3;
    display: block !important;
    margin: 0;
    position: relative;
    width: 100%;
}
.main_subcategory .megapanels .megapanels{
	padding:0px;
}
.online_store{
    float: none;
    margin: 0 auto;
    width: 65%;
}
}

@media screen and (max-width: 300px) {
.product_list{
	width:100%;
}
.footer_list{
	width:90%;
}
.main_menu ul li{
	width:100%;
}
.top_menu a{
    padding: 5px 0;
    text-align: center;
    width: 100%;
}
.pro_img img{
	max-width:100%;
}

}